.modalLoading {
  background-color: rgba(60, 60, 60, 0.8);
  height: 100vh;
  width: 100vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  z-index: 9998;
  position: absolute;
  top: 0; }

.textLoading {
  color: #48a0f0;
  font-size: 30px;
  position: relative;
  top: 60px;
  font-weight: 900; }

.containerLoading {
  border-radius: 55px;
  width: 300px;
  height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(30, 30, 30, 0.8); }

.dotLoading {
  -webkit-animation: dotsLoading forwards infinite normal 3s;
  animation: dotsLoading forwards infinite normal 3s;
  opacity: 1; }

.dot2Loading {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.dot3Loading {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.barLoading {
  height: 20px;
  width: 10px;
  top: 50%;
  background-color: #484a5f;
  position: absolute;
  left: calc(50% - 5px);
  -webkit-transform-origin: 5px -40px;
  -ms-transform-origin: 5px -40px;
  transform-origin: 5px -40px;
  border-radius: 50px;
  -webkit-animation: barLoading both infinite normal 3s cubic-bezier(0.44, -0.31, 0.54, 0.9);
  animation: barLoading both infinite normal 3s cubic-bezier(0.44, -0.31, 0.54, 0.9); }

.bar1Loading {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -2.2s;
  animation-delay: -2.2s; }

.bar2Loading {
  -webkit-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  transform: rotate(24deg);
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s; }

.bar3Loading {
  -webkit-transform: rotate(48deg);
  -ms-transform: rotate(48deg);
  transform: rotate(48deg);
  -webkit-animation-delay: -2.6s;
  animation-delay: -2.6s; }

.bar4Loading {
  -webkit-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  transform: rotate(72deg);
  -webkit-animation-delay: -2.8s;
  animation-delay: -2.8s; }

.bar5Loading {
  -webkit-transform: rotate(96deg);
  -ms-transform: rotate(96deg);
  transform: rotate(96deg); }

.bar6Loading {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.bar7Loading {
  -webkit-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  transform: rotate(144deg);
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.bar8Loading {
  -webkit-transform: rotate(168deg);
  -ms-transform: rotate(168deg);
  transform: rotate(168deg);
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.bar9Loading {
  -webkit-transform: rotate(192deg);
  -ms-transform: rotate(192deg);
  transform: rotate(192deg);
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

.bar10Loading {
  -webkit-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  transform: rotate(216deg);
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.bar11Loading {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s; }

.bar12Loading {
  -webkit-transform: rotate(264deg);
  -ms-transform: rotate(264deg);
  transform: rotate(264deg);
  -webkit-animation-delay: -1.4s;
  animation-delay: -1.4s; }

.bar13Loading {
  -webkit-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  transform: rotate(288deg);
  -webkit-animation-delay: -1.6s;
  animation-delay: -1.6s; }

.bar14Loading {
  -webkit-transform: rotate(312deg);
  -ms-transform: rotate(312deg);
  transform: rotate(312deg);
  -webkit-animation-delay: -1.8s;
  animation-delay: -1.8s; }

.bar15Loading {
  -webkit-transform: rotate(336deg);
  -ms-transform: rotate(336deg);
  transform: rotate(336deg);
  -webkit-animation-delay: -2s;
  animation-delay: -2s; }

@-webkit-keyframes dotsLoading {
  0% {
    opacity: 1; }
  40% {
    opacity: 0.1; }
  80% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

@keyframes dotsLoading {
  0% {
    opacity: 1; }
  40% {
    opacity: 0.1; }
  80% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes barLoading {
  0% {
    background-color: #484a5f;
    height: 20px; }
  10% {
    height: 20px; }
  25% {
    background-color: #9c97c8;
    height: 37px; }
  40% {
    height: 20px; }
  50% {
    background-color: #484a5f; }
  100% {
    height: 20px; } }

@keyframes barLoading {
  0% {
    background-color: #484a5f;
    height: 20px; }
  10% {
    height: 20px; }
  25% {
    background-color: #9c97c8;
    height: 37px; }
  40% {
    height: 20px; }
  50% {
    background-color: #484a5f; }
  100% {
    height: 20px; } }
